server.port=8080

spring.datasource.url=jdbc:mysql://localhost:3306/ptitmeet_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
spring.datasource.username=root
spring.datasource.password=yourpassword
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

spring.data.mongodb.uri=mongodb+srv://<username>:<password>@<cluster-url>/.6qqf9el.mongodb.net/ptitmeet_chat?retryWrites=true&w=majority&appName=<app-name>

livekit.api.url=http://localhost:7880
livekit.api.key=devkey
livekit.api.secret=secret

app.jwt-secret=examplejwtsecretkeyforptitmeetapplication
app.jwt-expiration-milliseconds=604800000